{{#section "head"}}
    <link rel='stylesheet' href='{{@static_url}}/styles/yinling/info-detail.css'/>
{{/section}}

{{#section "foot"}}
    <script src="{{@static_url}}/scripts/yinling/info.js"></script>
{{/section}}

<div class="frm">
    <div class="favorability">
        <div class="fav-name" style="text-align: center">九尾</div>
        <div class="fav-progress">
            <img class="hert-shape" src="{{@static_url}}/images/yinling-all/info-detail/heart-shape.png" alt="">
            <div style="width: 80%;">
                
            </div>
        </div>
    </div>

    <div class="heros">
        <div class="left">
            <img class="" src="{{@static_url}}/images/yinling-all/info-detail/hero-bg.png" alt="">
        </div>
        <div class="right">
            <img class="" src="{{@static_url}}/imgs_static/yinling-all/info-detail/101.png" alt="">
        </div>
    </div>
</div>